@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Banny Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff");
}
@font-face {
  font-family: "Banny Light Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Light Round"), url("../fonts/Banny-LightRound.woff") format("woff");
}
@font-face {
  font-family: "Banny Bold Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Bold Round"), url("../fonts/Banny-BoldRound.woff") format("woff");
}
.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 50%;
}
.nav_link {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 45px;
}
.nav-left {
  text-align: left;
}
.nav-right {
  text-align: right;
}

.header_intro {
  height: 825px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
}

.header_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.timetable {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  transform: rotate(-90deg);
  position: relative;
  left: -115px;
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -200px;
}

.header_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin: 0;
}

.header_title {
  font-family: "Banny Bold Round";
  font-size: 96px;
  line-height: 130px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.header_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  margin-bottom: -15px;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn_wrap {
  display: block;
  margin-top: 50px;
}

.btn {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.btn:hover {
  background: #E8C300;
  transition: background 0.2s linear;
}

.btn-header {
  width: 200px;
  padding: 19px 0;
}

.btn + .btn {
  margin-left: 40px;
}

.header_social {
  display: flex;
  flex-direction: column;
}

.social_item {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px 0;
}
.social_item:hover {
  background-color: #1a1a1a;
  transition: background-color 0.2s linear;
}

.down_btn {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 93px;
}
.down_btn:hover {
  background-color: #b3b3b3;
  transition: background-color 0.2s linear;
}

.about {
  padding-top: 100px;
  padding-bottom: 87px;
}

.about_content {
  text-align: center;
}

.img_main {
  max-width: 100%;
}

.img_second {
  position: absolute;
  top: 20%;
  right: 20%;
  z-index: 100;
  max-width: 100%;
}

.team {
  background: url(../../img/team-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 100px;
}

.section_name {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding: 40px 0;
}

.section_title {
  font-family: "Banny Bold Round";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.section_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  margin-bottom: -15px;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.section_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.section_text {
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
}

.section_wrap {
  display: flex;
  justify-content: center;
}

.section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  text-align: center;
  padding: 0 15px;
}

.section_img {
  text-align: right;
  width: 48%;
  position: relative;
  z-index: 50;
}

.txt-color {
  color: white;
}

.speciality {
  background: url(../../img/specialty-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 100px;
}

html {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1310px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}