@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Banny Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("../fonts/Banny-Round.woff") format("woff");
}
@font-face {
  font-family: "Banny Light Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Light Round"), url("../fonts/Banny-LightRound.woff") format("woff");
}
@font-face {
  font-family: "Banny Bold Round";
  font-style: normal;
  font-weight: normal;
  src: local("Banny Bold Round"), url("../fonts/Banny-BoldRound.woff") format("woff");
}
.btn {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
}

.btn_form {
  flex-grow: 2;
  background: #E8C300;
  color: white;
  padding: 20px 0;
}
.btn_form:hover {
  background-color: #cfae00;
  transition: background 0.2s linear;
}

.input {
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  padding: 20px 0;
  margin-bottom: 10px;
}

.section_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.section_name {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .section_name {
    padding: 20px 0;
  }
}

.section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47%;
  align-items: center;
  text-align: center;
  padding: 0 15px;
  animation-delay: 1s;
}
@media (max-width: 670px) {
  .section_content {
    width: 100%;
  }
}

.section_title {
  font-family: "Banny Bold Round";
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.section_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  margin-bottom: -15px;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .section_title {
    margin: 0 0 10px 0;
    font-size: 30px;
  }
}

.section_subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
@media (max-width: 768px) {
  .section_subtitle {
    font-size: 16px;
  }
}

.section_text {
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
}

.section_img {
  width: 47%;
  text-align: center;
  line-height: 0;
  padding: 0 15px;
  padding-bottom: 15px;
  animation-delay: 1s;
}
@media (max-width: 670px) {
  .section_img {
    width: 80%;
  }
}

.txt-color {
  color: white;
}

.header {
  position: absolute;
  width: 100%;
  padding: 40px 0;
}
.header_nav {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 670px) {
  .header {
    display: none;
  }
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.nav_link {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_link:hover {
  border-bottom: 1px solid white;
}

.header_intro {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
}

.header_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  margin-top: 150px;
  animation-duration: 2s;
}
@media (max-width: 960px) {
  .header_inner {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .header_inner {
    margin-top: 70px;
  }
}
@media (max-width: 670px) {
  .header_inner {
    margin-top: 30px;
    justify-content: center;
  }
}

.timetable {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  transform: rotate(-90deg);
  position: relative;
  left: -115px;
}
@media (max-width: 670px) {
  .timetable {
    display: none;
  }
}

.header_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -200px;
}
@media (max-width: 670px) {
  .header_content {
    margin: 0;
  }
}

.header_text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin: 0;
}

.header_title {
  font-family: "Banny Bold Round";
  font-size: 96px;
  line-height: 130px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.header_title::after {
  content: "";
  display: block;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  position: absolute;
  margin-bottom: -15px;
  bottom: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 960px) {
  .header_title {
    font-size: 60px;
  }
}
@media (max-width: 670px) {
  .header_title {
    font-size: 45px;
    line-height: 80px;
  }
}
@media (max-width: 415px) {
  .header_title {
    font-size: 35px;
  }
}

.btn_wrap {
  display: block;
  margin-top: 50px;
}
@media (max-width: 415px) {
  .btn_wrap {
    margin-top: 30px;
  }
}

.btn-header {
  width: 200px;
  padding: 19px 0;
  color: white;
}
.btn-header:hover {
  background: #E8C300;
  transition: background 0.2s linear;
}
@media (max-width: 670px) {
  .btn-header {
    width: 130px;
  }
}
@media (max-width: 415px) {
  .btn-header {
    width: 110px;
    padding: 15px 0;
  }
}

.btn + .btn {
  margin-left: 40px;
}

.header_social {
  display: flex;
  flex-direction: column;
}
@media (max-width: 670px) {
  .header_social {
    display: none;
  }
}

.social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px 0;
}
.social_item:hover {
  background-color: #4d4d4d;
  transition: background-color 0.2s linear;
}

.down_btn {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin: 90px 0;
}
.down_btn:hover {
  background-color: #b3b3b3;
  transition: background-color 0.2s linear;
}
@media (max-width: 960px) {
  .down_btn {
    margin: 45px;
  }
}
@media (max-width: 768px) {
  .down_btn {
    margin: 40px;
  }
}

.about {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 40px 0;
  }
}

.team {
  background: url(../img/team-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .team {
    padding-bottom: 40px;
  }
}

.speciality {
  background: url(../img/specialty-bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .speciality {
    padding-bottom: 40px;
  }
}

.booking {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .booking {
    padding-top: 30px;
  }
}

.form_book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}

.booking_text {
  text-align: center;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  padding: 45px 0;
}
@media (max-width: 768px) {
  .booking_text {
    padding: 20px 0;
  }
}

.input-book {
  width: 48%;
}
@media (max-width: 768px) {
  .input-book {
    width: 100%;
  }
}

.menu_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  animation-delay: 1s;
}
@media (max-width: 768px) {
  .menu_wrap {
    margin-top: 40px;
  }
}

.menu_subtitle {
  max-width: 600px;
  width: 100%;
}

.category {
  max-width: 840px;
  width: 100%;
}

.menu_categories {
  display: flex;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .menu_categories {
    margin-bottom: 30px;
  }
}
@media (max-width: 415px) {
  .menu_categories {
    font-size: 10px;
  }
}

.categories_item {
  max-width: 120px;
  width: 100%;
  padding: 20px 0;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.categories_item:last-child {
  border: none;
}
@media (max-width: 415px) {
  .categories_item {
    padding: 10px 0;
  }
}

.menu_price {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .menu_price {
    margin-bottom: 40px;
  }
}

.price_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_list_item {
  width: 45%;
  margin-bottom: 20px;
}
@media (max-width: 670px) {
  .price_list_item {
    width: 100%;
  }
}

.items_content {
  display: flex;
  justify-content: space-between;
}

.item {
  font-family: "Banny Bold Round";
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}
@media (max-width: 768px) {
  .item {
    font-size: 16px;
  }
}
@media (max-width: 415px) {
  .item {
    font-size: 14px;
  }
}

.item-name {
  display: flex;
  flex: 1;
}
.item-name:after {
  content: "";
  border-bottom: 2px dotted black;
  flex: 1;
  min-width: 20px;
  margin-left: 10px;
}

.item_description {
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
}

.img_main {
  position: relative;
}

.events {
  background: url(../img/event-bg.jpg) no-repeat center;
  background-size: cover;
}

.event_footer {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 45px 0;
}
@media (max-width: 768px) {
  .event_footer {
    padding: 20px 0;
  }
}

.event_img {
  position: relative;
  max-width: 475px;
  max-height: 475px;
  margin: 0 auto;
}

.event_name {
  background-color: black;
  border: 1px solid black;
  display: flex;
  width: 100%;
}

.event_text {
  font-family: "Banny Bold Round";
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  text-indent: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 28px 0;
}
@media (max-width: 415px) {
  .event_text {
    font-size: 14px;
    padding: 5px 0;
  }
}

.rotate-right {
  transform: rotate(90deg);
  transform-origin: top right;
  position: absolute;
}

.rotate-left {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  position: absolute;
  bottom: 0;
  left: 80px;
}
@media (max-width: 415px) {
  .rotate-left {
    left: 36px;
  }
}

.galerie_wrap {
  display: flex;
  flex-wrap: wrap;
}

.galerie_item {
  width: 25%;
}
.galerie_item img {
  width: 100%;
  height: auto;
}
@media (max-width: 415px) {
  .galerie_item {
    width: 100%;
    line-height: 0;
  }
}

.contact_wrap {
  animation-delay: 1s;
}

.contact_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-contact {
  width: 33%;
}
@media (max-width: 670px) {
  .input-contact {
    width: 100%;
  }
}

.message {
  width: 100%;
  min-height: 120px;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
  background: #E5E5E5;
  border-radius: 5px;
  border: none;
  padding: 20px 0;
  margin-bottom: 10px;
}

.contact_info {
  font-weight: 900;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 5px 45px 5px;
}
@media (max-width: 415px) {
  .contact_info {
    flex-direction: column;
    align-items: start;
    padding: 15px 0;
    line-height: 18px;
  }
}

.footer {
  background: rgba(0, 0, 0, 0.9);
}
.footer_text {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 45px 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1310px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.bold {
  font-weight: bold;
}