
.about{
	padding-top: 100px;
    padding-bottom: 87px;
}
.about_content{
	text-align: center;
}

.img_main{
	max-width: 100%;
}

.img_second{

	position: absolute;
	top: 20%;
	right: 20%;
	z-index: 100;

	max-width: 100%;
}