.booking{
    padding-top: 100px;
}
.form_book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-top: 10px;
}

.booking_text{
    text-align: center;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;

    color: rgba(51, 51, 51, 0.5);
    
    padding: 45px 0;
}



.input-book{
    width: 277px;    
}