.booking{
    padding-top: 100px;

    @include breakpoint($md){
        padding-top: 30px;
    }
}
.form_book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-top: 10px;
    margin-bottom: 15px;

    
}

.booking_text{
    text-align: center;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;

    color: rgba(51, 51, 51, 0.5);
    
    padding: 45px 0;

    @include breakpoint($md){
        padding: 20px 0;

    }
}



.input-book{
    width: 48%;

    @include breakpoint($md){
        width: 100%;
    }

}