.header{
	position: absolute;
	width: 100%;
	
	padding: 40px 0;
	&_nav{
		
		display: flex;
		justify-content: space-between;
	}

	@include breakpoint($sm){
		display: none;
	}
}

.nav{
	width: 40%;
	display: flex;
	justify-content: space-around;
	
	&_link{
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;

		&:hover{
			border-bottom: 1px solid white;
		}
	}

}

