.header_intro{
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	padding-top: 25px;
}

.header_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;

}
.header_inner{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: $firstColor;

	margin-top: 150px;

	animation-duration: 2s;

	@include breakpoint($lg){
		margin-top: 90px;
	}
	@include breakpoint($md){
		margin-top: 70px;
	}
	@include breakpoint($sm){
		margin-top: 30px;
		justify-content: center;
	}

}
.timetable{
	display: inline;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;

	transform: rotate(-90deg);
	position: relative;
	left: -115px;

	@include breakpoint($sm){
		display: none;
	}
}
.header_content{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-left: -200px;

	@include breakpoint($sm){
		margin: 0;
	}
}

.header_text{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.5em;	
	text-transform: uppercase;

	margin: 0;
}
.header_title{
	font-family: $titleFont;
	font-size: 96px;
	line-height: 130px;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	&::after{
		@include yellow_line;
	}
	
	@include breakpoint($lg){
		font-size: 60px;
	}

	@include breakpoint($sm){
		font-size: 45px;
		line-height: 80px;
	}
	@include breakpoint ($e-sm){
		font-size: 35px;
	}
}
.btn_wrap{
	display: block;
	margin-top: 50px;

	@include breakpoint ($e-sm){
		margin-top: 30px;
	}
}


.btn-header{
	width: 200px;
	padding: 19px 0;
    color:$firstColor;
    &:hover{
		background: #E8C300;
		transition: background 0.2s linear;
	}

	@include breakpoint($sm){
		width: 130px;
	}
	@include breakpoint ($e-sm){
		width: 110px;
		padding: 15px 0;
	}
}
.btn+.btn{
	margin-left: 40px;
}
.header_social{
	display: flex;
	flex-direction: column;

	@include breakpoint($sm){
		display: none;
	}

}
.social_item{
	display: flex;
	justify-content: center;
    align-items: center;
	width: 58px;
	height: 58px;

	border: 1px solid $firstColor;
	border-radius: 50%;

	margin: 10px 0;
    
	&:hover{
		background-color: lighten($secondColor, 30%);
		transition: background-color 0.2s linear;
	}

}

.down_btn{
	display: inline-block;
	border: none;
	background:none;
	cursor: pointer;

	width: 40px;
	height: 40px;
	background-color: $firstColor;
	border-radius: 50%;

	margin: 90px 0;

	&:hover{
		background-color: darken($firstColor,30%);
		transition: background-color 0.2s linear;
	}

	@include breakpoint($lg){
		margin: 45px;
	}
	@include breakpoint($md){
		margin: 40px;
	}


}