
.section_title{
	font-family: $titleFont;
	font-size: 36px;
	line-height: 48px;


	text-align: center;
	text-transform: uppercase;

	color: #000000;

	position: relative;

	&::after{
		@include yellow_line;
	}
}

.section_subtitle{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
}
.section_text{
	font-style: normal;
	font-size: 14px;
	line-height: 18px;

}

.section_wrap{
	display: flex;
	justify-content: center;
	
}

.section_content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 48%;
    
    text-align: center;
    
	padding: 0 15px;
}
.section_img{
    text-align: right;
	width: 48%;	
	position: relative;
	z-index: 50;
}

.txt-color{
    color: $firstColor;
}