.header{
	position: absolute;
	width: 100%;
	
	padding: 40px 0;
	&_nav{
		
		display: flex;
		justify-content: space-between;
	}
}

.header_img{
	position: absolute;
	top: 30px;
	left: 50%;
    margin-right: -50%;
    transform: translateX(-50%)
}
.nav{
	width: 50%;

	&_link{
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: white;
		text-transform: uppercase;
		text-decoration: none;

		margin: 0 45px;
	}

	&-left{
		text-align: left;
	}
	&-right{
		text-align: right;
	}
}

